*.log
*.db

homebridge/homebridge/accessories/
homebridge/homebridge/backups/
#homebridge/homebridge/logs/
homebridge/homebridge/node_modules/
homebridge/homebridge/persist/
homebridge/homebridge/auth.json
homebridge/homebridge/backup.json
homebridge/homebridge/temp.json
#homebridge/homebridge/homebridge.log

mosquitto/data/
#mosquitto/log/

zigbee2mqtt/data/log/
zigbee2mqtt/state.json

zwave2mqtt/


